spring:
  application:
    name: transaction-service
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI}
  jpa:
    hibernate:
      ddl-auto: validate # Flyway manages schema, Hibernate only validates
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0
  rabbitmq:
    host: host.docker.internal
    port: 5672
    username: guest
    password: guest
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 60000

# JWT Configuration
jwt:
  issuer-uri: ${JWT_ISSUER_URI:http://localhost:8888/realms/fortressbank-realm}

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka
