spring:
  application:
    name: user-service
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI:http://localhost:8889}
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0
keycloak:
  auth-server-url: http://keycloak:8080
  realm: fortressbank-realm
  client-id: kong
  client-secret: KzZmVQX8UbzbsNDNL79KwphKbhTFKfR2

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka
