spring:
  application:
    name: user-service
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI:http://localhost:8889}
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}

keycloak:
  auth-server-url: http://keycloak:8080
  realm: fortressbank-realm
  client-id: kong
  client-secret: pmFStZwGO8sb0mBDkZmP5niE3wmEELqe

# Default configuration for AI Service
fortress-bank:
  ai-service:
    url: ${AI_SERVICE_URL:http://localhost:5000}

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka
