spring:
  application:
    name: account-service
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI}
  data:
    redis:
      host: ${SPRING_REDIS_HOST:redis}
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
      continue-on-error: true

# JWT Configuration for SOAP Security
jwt:
  issuer-uri: ${JWT_ISSUER_URI:http://localhost:8888/realms/fortressbank-realm}

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka

