spring:
  application:
    name: account-service
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI:http://localhost:8889}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0
    repair-on-migrate: true

  sql:
    init:
      mode: never

# JWT Configuration for SOAP Security
jwt:
  issuer-uri: ${JWT_ISSUER_URI:http://localhost:8888/realms/fortressbank-realm}

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka
