spring:
  application:
    name: external-bank-mock

  datasource:
    url: jdbc:postgresql://postgres:5432/external-bank-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

server:
  port: 5000

logging:
  level:
    com.uit.externalbankmock: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.amqp: DEBUG
