name: FortressBank Tests

on:
  push:
    branches: [ "main", "develop", "feat/*" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Run Tests with Maven
      run: mvn clean test jacoco:report

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: jacoco-report
        path: |
          **/target/site/jacoco/
          !**/target/site/jacoco/jacoco-resources/**
        retention-days: 5

